#random_wrapper {
  text-align: -webkit-center;
}
#change {
  width: 350px;
  height: 350px;
  border: 2px solid black;
  font-size: 35px;
  display: table-cell;
  vertical-align: middle;
}
#button_change{
    margin: 0 0 15px 0;
}
#btn_watch, #btn_timer, #btn_stopwatch, #btn_calc{
  height: 50px;
  width: 175px;
  font-family: "Open Sans";
  font-size: 19px;
  border-radius: 9%;
  cursor: pointer;
  background-color: rgba(184, 204, 204, 0.644);
  margin: 15px 0 0 0;
}
.add_films{
  margin: 0 0 15px 0;
}
#count_film{
  margin-bottom: 15px;
  font-family: "Open Sans";
  font-size: 19px;
}
#button_reset{
  margin-top: 15px;
  height: 50px;
  width: 175px;
  border-radius: 9%;
  cursor: pointer;
  background-color: rgba(224, 93, 84, 0.644);
  font-family: "Open Sans";
  font-size: 19px;
}
